/* Existing styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    transition: all 0.3s ease; /* Smooth transition for visual effect */
}

/* New styles for sticky navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Or any color to match your design */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds a shadow for better visibility */
    z-index: 1000; /* Ensure the navbar stays above other content */
}


.navbar a {
    padding: 20px;
}

