/* colorContrast.module.css */

.themeToggleButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.light {
  background-color: #ffffff;
  color: #333333;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}

/* Theme-specific styles for the entire page */
body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}
